---
version: 2.1

orbs:
  executor-tools: twdps/executor-tools@6.0.1
  op: twdps/onepassword@3.0.0
  do: twdps/pipeline-events@5.3.2

globals:
  - &context platform
  - &shell op run --env-file op.env -- /bin/bash -eo pipefail
  - &registry ghcr.io
  - &executor-name ghcr.io/twplatformlabs/circleci-executor-builder:alpine-latest

on-push-main: &on-push-main
  branches:
    only: /main/
  tags:
    ignore: /.*/

on-each-run: &on-each-run
  branches:
    only: /main/
  tags:
    only: /.*/

on-tag-main: &on-tag-main
  branches:
    ignore: /.*/
  tags:
    only: /.*/

commands:

  set-signing-keys:
    steps:
      - op/write-to-file:
          op-value: platform/svc-cosign-private-key/notesPlain
          out-file: cosign.key
      - op/write-to-file:
          op-value: platform/svc-cosign-public-key/notesPlain
          out-file: cosign.pub

  release-notes:
    steps:
      - do/gh-buildx-image-release-notes:
          notes-from-file: release.md
          include-commit-msg: true
          include-sbom-guidance: true
          guidance-path: test/package_versions.sh
          verify-tag: true
      - run:
          name: include build logs in release assets
          command: |
            mv workspace/docker-bake.json.executors.build.out build.log && gh release upload $CIRCLE_TAG build.log
            mv workspace/scout.out cve-scan.log && gh release upload $CIRCLE_TAG cve-scan.log
      - do/slack-bot:
          channel: lab-events
          message: "new release circleci-infra-aws"
          include-link: true
          include-tag: true

workflows:

  build and publish:
    jobs:
      - executor-tools/dev-release:
          name: alpine image build
          context: *context
          shell: *shell
          image: *image
          dockerfile: Dockerfile.alpine
          tag: alpine-edge
          snyk-scan: true
          snyk-severity-threshold: high
          snyk-skip-base-image: true
          snyk-organization: twplatformlabs
          bats-test: true
          bats-entry-point: /bin/ash
          opencontainer-labels: true
          security-scan-nofail: true
          filters: *on-each-run

      - executor-tools/dev-release:
          name: ubuntu image build
          context: *context
          shell: *shell
          image: *image
          dockerfile: Dockerfile.ubuntu
          tag: ubuntu-edge
          snyk-scan: true
          snyk-severity-threshold: high
          snyk-skip-base-image: true
          snyk-organization: twplatformlabs
          bats-test: true
          bats-entry-point: /bin/bash
          opencontainer-labels: true
          security-scan-nofail: true
          filters: *on-each-run

      - executor-tools/publish:
          name: alpine release
          context: *context
          shell: *shell
          image: *image
          pull-tag: alpine-edge
          tag-annotation: alpine-
          release-tag: alpine-stable
          sign-image: true
          sbom: true
          after-checkout:
            - set-signing-keys
          requires:
            - alpine image build
            - ubuntu image build
          filters: *on-tag-main

      - executor-tools/publish:
          name: ubuntu release
          context: *context
          shell: *shell
          image: *image
          pull-tag: ubuntu-edge
          tag-annotation: ubuntu-
          release-tag: ubuntu-stable
          sign-image: true
          after-checkout:
            - set-signing-keys
          requires:
            - alpine image build
            - ubuntu image build
          filters: *on-tag-main

      - do/gh-release:
          name: generate release notes
          shell: *shell
          context: *context
          notes-from-file: release.md
          include-commit-msg: true
          upload-artifacts: true
          artifact-folder: workspace
          requires:
            - alpine release
            - ubuntu release
          filters: *on-tag-main

  monthly build:
    when:
      equal: [ scheduled_pipeline, << pipeline.trigger_source >> ]
    jobs:
      - do/automated-tag:
          tag-type: monthly-recurring
          committer-email: twplatformlabs@gmail.com
          committer-name: twplatformlabs-sa

  schedule monthly build:
    jobs:
      - do/schedule-pipeline:
          name: configure scheduled pipeline run for monthly general release
          shell: *shell
          context: *context
          scheduled-pipeline-name: Monthly update release
          scheduled-pipeline-description: |
            Automatically build and release a current version of executor image
            using the YYYY.MM tag format.
          hours-of-day: "[11]" # 11 am UTC = 6am Central
          days-of-month: "[6]" # 6th of each month
          filters: *on-push-main
